@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Poppins&display=swap');
:root{
  --background: #161616;
  --backgroundup: #333333;
  --lightwhite: #8899a6;
}

/*--------------------------------------------------------------
 General
--------------------------------------------------------------*/
body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background);
  scroll-behavior: smooth;
}

a {
  color: #ff4a17;
  text-decoration: none;
}

a:hover {
  background: linear-gradient(to right, rgba(232,5,5,1) 0%, rgb(253, 11, 124) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: linear-gradient(45deg, rgba(232,5,5,1) 0%, rgb(253, 11, 124) 100%);

  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #ff6a40;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: var(--background);
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #ff4a17;
  border-top-color: #ffe9e3;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
}

#header.header-scrolled, #header.header-inner-pages {
  background: rgba(21, 34, 43, 0.85);
  padding: 10px 0;
}

#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 2px;
}

#header .logo {
  color: rgba(255, 255, 255, 0.897);
  text-decoration: none;
  font-weight: 500;
}



#header .logo img {
  max-height: 40px;
}

title{
  color: #ffff;
}

.dot{
  background: linear-gradient(to left, rgba(232,5,5,1) 0%, rgb(253, 11, 124) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar > ul > li {
  white-space: nowrap;
  padding: 8px 12px;
}

.navbar a {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  padding: 0 3px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.9);
  white-space: nowrap;
  transition: 0.5s;
}

.navbar a i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar > ul > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background: linear-gradient(to right, rgba(232,5,5,1) 0%, rgb(253, 11, 124) 100%);
  visibility: hidden;
  width: 0px;
  transition: all 0.4s ease-in-out 0s;
}

.navbar a:hover:before, .navbar li:hover > a:before, .navbar .active:before {
  visibility: visible;
  width: 100%;
}

.navbar a:hover, .navbar .active, .navbar li:hover > a {
  color: #fff;
}


.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #ffff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  color: #15222b;
  font-weight: 400;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #ff4a17;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}


/* Mobile Navigation */
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0px;
  background: rgba(255, 255, 255, 0.486);
  transition: .8s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a {
  padding: 10px 10px;
  font-size: 15px;
  color: #15222b;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #ff4a17;
}

.navbar-mobile .getstarted {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background:#fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
  /* color: #f1f1f1; */
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
  /* color: #f1f1f1; */
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
  /* color: #f1f1f1; */
}

.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #ff4a17;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("/assets/img/back.jpg") top center;
  background-repeat: no-repeat;
  background-size:cover;
  position: relative;
  padding: 0;
}

#hero:before {
  content: "";
  background: rgba(9, 11, 12, 0.596);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 20px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}


#animatetextcolour{
  background: linear-gradient(to right, rgba(232,5,5,1) 0%, rgb(253, 11, 124) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#hero h2 {
  color: #eee;
  margin-top:100px;
  margin-bottom: 50px;
  font-size: 50px;
}

#hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  /* text-transform: uppercase; */
  font-weight: 500;
  font-size: 14px;
  display: inline-block;
  padding: 10px 35px 10px 35px;
  border-radius: 50px;
  transition: 0.5s;
  color: rgb(255, 255, 255);
  background: #ff491700;
  border: 2.3px solid #eb3401;
  margin-top: 30px;


}

#hero .btn-get-started:hover {
  border-color: #fff;
  background: linear-gradient(to right, rgba(232,5,5,1) 0%, rgb(253, 11, 124) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #ffff;
  transition: all 0.5s ease-in-out;
  font-size:15px;
  cursor: pointer;
  
}


@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}


@media (min-width: 1100px) {
  #hero h2{
    font-size: 5rem;
    position: relative;
    bottom: 8vh; 
   }
}


/* For Mobile phones */
@media (max-width: 768px) {

  #hero {
    width: 100%;
    height: 100vh;
    background: url("");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 0;
  }


  #textanimate{
   display: flex;
   align-items: center;
   justify-content:center;
  }
  #hero h2{
    font-size: 2rem;
    position: relative;
    bottom: 10vh;
   }

  #hero .btn-get-started {
    font-weight: 500;
    font-size: 0.7rem;
    margin-top: 1vh;
   
  }

  .mouse{
    margin-top: 5vh;
  }

  .mouse_scroll{
    display: block;
    width: 24px;
    padding-bottom: 70px;
  }
}

/* Scroll section */
.mouse_scroll {
	display: block;
	margin: 0 auto;
	width: 24px;
  position: absolute;
  bottom: 30px;
}


.m_scroll_arrows
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-right: 2px solid rgb(255, 255, 255);
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;
  width: 14px;
  height: 16px;
}

.unu
{
  margin-top: 1px;
}

.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;  
}

.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  
  animation-direction: alternate;
  animation-delay: alternate;
}

.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  animation-delay: .2s;
  animation-direction: alternate;
  margin-top: -6px;
}

.trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  animation-delay: .3s;
  animation-direction: alternate;
  margin-top: -6px;
}

/* particle wave */
.particles {
   position: absolute;
   left: 0; 
   top: 120px;
   overflow: hidden;
   right: 0;
  bottom: 0; 
}


canvas { display: block; }

/* Scrollling mouse */
.mouse {
  height: 35px;
  width: 20px;
  border-radius: 14px;
  transform: none;
  border: 2px solid rgb(255, 255, 255);
  top: 170px;
  opacity: 0.7;
}


.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: rgb(228, 0, 95);
  position: relative;
  height: 4px;
  width: 4px;
  border: 2px solid rgb(228, 0, 95);
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@-o-keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f0f4f8;
}

.section-title {
  padding-bottom: 40px;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #5c8eb0;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1.5px;
  display: inline-block;
  background: linear-gradient(to right, rgba(232,5,5,1) 0%, rgb(253, 11, 124) 100%);
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #f5f5f5;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features{
  background-color: var(--background);
}

.feature-container:hover{
  animation: zovo 2s linear infinite;
  
}


@keyframes zovo {
  0% {
    border-bottom: 2px solid rgb(253, 11, 124);
  }
  100% {
    border-bottom: 2px solid #FF4136;
  }
}
.feature-container{
/* background-color: var(--backgroundup); */
color: rgba(255, 255, 255, 0.842);
/* pointer-events: none; */
cursor: pointer;
text-decoration: none;
border-radius: 5px;
background: #242424;
box-shadow:  7px 7px 27px #171717,
             -7px -7px 27px #313131;

}


.features .nav-tabs {
  border: 0;
}

.features .nav-link {
  border: 1px solid #b5ccdb;
  padding: 15px;
  transition: 0.3s;
  color: #15222b;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features .nav-link i {
  padding-right: 15px;
  font-size: 48px;
}

.features .nav-link h4 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.features .nav-link:hover {
  color: #ff4a17;
}

.features .nav-link.active {
  background: #ff4a17;
  color: #fff;
  border-color: #ff4a17;
}

@media (max-width: 768px) {
  .features .nav-link i {
    padding: 0;
    line-height: 1;
    font-size: 36px;
  }
}

@media (max-width: 575px) {
  .features .nav-link {
    padding: 15px;
  }
  .features .nav-link i {
    font-size: 24px;
  }
}

.features .tab-content {
  margin-top: 30px;
}

.features .tab-pane h3 {
  font-weight: 600;
  font-size: 26px;
}

.features .tab-pane ul {
  list-style: none;
  padding: 0;
}

.features .tab-pane ul li {
  padding-bottom: 10px;
}

.features .tab-pane ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #ff4a17;
}

.features .tab-pane p:last-child {
  margin-bottom: 0;
}

.net .net2{
  padding: 0;
  margin: 0;
}


@media (max-width: 768px) {
  .net2{
    display: none;
  }
}
.net img{
  height: 180px;
  width: 180px;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 85vw;
  top: -10vh;
  animation: float 3s ease-in infinite;
}

@keyframes float {
  50% {
  transform: translate(0, 20px);
  }
}

.net2 img{
  height: 50px;
  width: 50px;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 5vw;
  top: 40vh;
  animation: float 3s ease-in infinite;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/


.services .icon-box {
  margin-bottom: 20px;
  padding: 30px;
  border: 1px solid #131313;
  border-radius: 5px;
  background: linear-gradient(145deg, #202020, #242424);
  box-shadow:  14px 14px 28px #1d1d1d,
               -14px -14px 28px #0f0f0f;
}



.services .icon-box .icon-box:hover h4 a {
  color: #ff4a17;
}

.service-title {
  color: #fff;
}

.service-section:hover{
  cursor: pointer;
}

.service-title:hover{
  cursor: pointer;
  background: linear-gradient(to left, rgba(232,5,5,1) 0%, rgb(253, 11, 124) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.9 ease-in-out;
  transform: scale(1.05);
  font-weight: 600;
  
}
.section-title h2{
  background: linear-gradient(to left, rgba(232,5,5,1) 0%, rgb(253, 11, 124) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}


#services p{
color: #fff;

}

.services .icon-box:hover h4 a {
  color: #ff4a17;
}

.service-section img{
  width: 60px;
  height: 60px;
  animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
  50% {
  transform: translate(0, 10px);
  }
}

.service-details{
  display: flex;
justify-content: center;
align-items: center;
}

.service-details h4{
  padding: 20px;
display: flex;
justify-content: center;
align-items: center;
font-size: 20px;
}

.service-details-seo h4{
font-size:55px;
}


/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/


.peep{

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  padding: 30px;
  margin: 25px;
background: #141414;
box-shadow:  29px 29px 58px #0d0d0d,
             -29px -29px 58px #1b1b1b;
}

@media (max-width: 768px) {
  .peep{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    padding: 0px;
    margin: 15px;
  background: #141414;
  box-shadow:  29px 29px 58px #0d0d0d,
               -29px -29px 58px #1b1b1b;
  }

  .peep img{
    padding: 0px;
    width: 150%;
    height: auto;
  }
}


.peep img{
  padding: 30px;
  width: 100%;
  height: auto;
}



/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features {
  position: relative;
}

.features .container {
  position: relative;
  z-index: 10;
}

.features {
  padding-top: 20px;
}

.features .icon-box {
  display: flex;
  align-items: center;
  padding: 20px;
  background: linear-gradient(145deg, #202020, #242424);
  box-shadow:  14px 12px 28px #181818,
               -14px -14px 28px #0f0f0f;
}

.features .icon-box i {
  font-size: 32px;
  padding-right: 10px;
  line-height: 1;
}

.features .icon-box h3 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 16px;
}

.features .icon-box h3 a {
  color: #434175;
  transition: ease-in-out 0.3s;
}

.features .icon-box:hover h3 a {
  color: #5a5af3;
}

.react img{
  width:48px;
}
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.contact{
  background: var(--background);
  border-color: #ff4a17;
  padding:20px;
  margin: 2px;
}
.contact .info-box {
  color: #444444;
  text-align: center;
  /* box-shadow: 0 0 30px rgba(44, 44, 44, 0.6); */
  /* padding: 20px 0 30px 0; */
  border-color: #ff4a17;
}



.contact .info-box i {
  font-size: 32px;
  background: linear-gradient(to right, rgba(232,5,5,1) 0%, rgb(253, 11, 124) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 50%;
  padding-top: 18px;
animation: zoominout 5s infinite;
}

@keyframes zoominout {
  0% {
      transform: scale(1,1);
  }
  50% {
      transform: scale(1.4,1.4);
  }
  100% {
      transform: scale(1,1);
  }
}


.contact .info-box h3 {
  font-size: 20px;
  background: linear-gradient(to right, rgba(232,5,5,1) 0%, rgb(253, 11, 124) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
  color: #ffff;
}

.contact .php-email-form {
  /* box-shadow: 0 0 30px rgba(66, 66, 66, 0.6); */
  padding-top: 20px;
  
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
  
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  
}



.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-color: #ff4a17;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}

.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: #ff1751;
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type="submit"] {
  background: linear-gradient(to right, rgba(232,5,5,1) 0%, rgb(253, 11, 124) 100%);
  font-weight: 300;
  border: 0;
  padding-top: 10px;
  padding: 8px 20px;
  color: #fff;
  transition: 0.4s;
  border-radius: 5px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: linear-gradient(to left, rgb(199, 0, 0) 0%, rgb(253, 11, 124) 100%);
  font-weight: 400;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.contact-box{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding-bottom: 25px;
  background: linear-gradient(45deg, rgb(34, 34, 34), #181818);
  box-shadow:  5px 5px 10px #0e0e0e,
  -5px -5px 10px #161616;
  /* border: 2px solid #0f0f0f; */
}

.form-control{
  border: 1.2px solid rgb(65, 65, 65);
  background: linear-gradient(to right, rgba(224, 224, 224, 0.747) 0%, rgba(206, 206, 206, 0.445) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
}
 

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #1A1B21;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .footer-top {
  background: #1a1a1f;
  border-bottom: 1px solid #1d303c;
  padding: 60px 0 30px 0;


}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 28px;
  margin: 0 0 15px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.08);
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  color: #fff;
  background: linear-gradient(to right, rgb(107, 26, 236) 0%, rgb(255, 6, 60) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.2);
  
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  background: linear-gradient(to right, rgb(255, 56, 21) 0%, rgb(253, 11, 124) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: #ff4a17;
}

#footer .footer-top .footer-newsletter form {
  margin-top: 10px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
}

#footer .footer-top .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px); 
  outline: none;
}

#footer .footer-top .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: linear-gradient(to right, rgba(232,5,5,1) 0%, rgb(253, 11, 124) 100%);
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
}

#footer .footer-top .footer-newsletter form input[type="submit"]:hover {
  background: linear-gradient(to left, rgba(232,5,5,1) 0%, rgb(253, 11, 124) 100%);
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

#footer .credits a {
  transition: 0.3s;
}

#my-form-status{
font-size: 1rem;
color: green;
}
